.vs/Practice/FileContentIndex/3358d429-dfc9-4182-b501-cd526e61074a.vsidx
.vs/Practice/FileContentIndex/4bf4dfd0-84fb-484c-b0a9-7ddcf8289d6a.vsidx
.vs/Practice/FileContentIndex/6056b1b1-551d-4f3e-8beb-d75e07d8f8b4.vsidx
.vs/Practice/FileContentIndex/71e84c69-1e76-426e-9394-4bf70e37d2cd.vsidx
.vs/Practice/v17/Browse.VC.db-shm
.vs/Practice/v17/Browse.VC.db-wal
.vs/Practice/v17/Browse.VC.opendb
.vs/Practice/v17/ipch/AutoPCH/1f50bd4983a87464/
x64/
.vs/